<configuration>
	<appSettings>
		<add key="MM_CONNECTION_HANDLER_S3GSERVER" value="sqlserver.htm" />
		<add key="MM_CONNECTION_STRING_S3GSERVER" value="Persist Security Info=True;Data Source=3GSERVER\SERVIDOR;Initial Catalog=S3G.Base;User ID=sa;Password=qaz,wsx" />
		<add key="MM_CONNECTION_DATABASETYPE_S3GSERVER" value="SQLServer" />
		<add key="MM_CONNECTION_SCHEMA_S3GSERVER" value="" />
		<add key="MM_CONNECTION_CATALOG_S3GSERVER" value="" />
	</appSettings>
</configuration>