<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="fluorinefx">
			<section name="settings" type="FluorineFx.Configuration.XmlConfigurator, FluorineFx"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="StringConexao" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BancoDados.mdb;" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<system.web>
		<httpModules>
			<add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx"/>
		</httpModules>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
